

<div class="container">
    <div class="row ">
        <div class="col-md-12">
            <h5 class="font-bold m-t-none m-b text-muted">Payment Type</h5>
        </div>
    </div>

    <div class="pull-right">
        <a [routerLink]="['/payment-type', 0]"><button class="btn btn-sm btn-info">
            <span class="icon-plus"></span> Add</button></a>
    </div>



    <div class="row">
        <data-grid [itemsSource]="paymentTypes" title="Payment Types">
                <column field="Code" header="Code" filterMatchMode="contains"></column>
                <column field="Name" header="Name" filterMatchMode="contains"></column>
                <column field="DefaultDescription" header="Default Description"></column>
                <column header="Payment Type" [style]="{'text-align':'center'}">
                    <template let-col let-data="rowData" pTemplate type="body">
                    {{getPaymentTypeEnum(data)}}
               </template>
             </column>
            <column header="Default" [style]="{'text-align':'center'}">
                <template let-col let-data="rowData" pTemplate type="checkbox">
                    <input type="checkbox" name="IsDefault" disabled [(ngModel)]="data.IsDefault">
                </template>
            </column>
               
                <column header="Actions" [style]="{'text-align':'center'}">
        <template let-col let-data="rowData" pTemplate type="body">
          <a [routerLink]="['/payment-type', data.Id]">
            <button class="btn btn-sm btn-info">Edit</button>
          </a>
          <button class="btn btn-sm btn-danger" (click)="deletePaymentType(data.Id)">Delete</button>
        </template>
      </column>
              </data-grid>
    </div>

</div>