<div class="container">
    <h5 class="font-bold m-t-none m-b text-muted">Sub Account Type</h5>
        <div class="form-group row">
            <div class="col-md-12">
                <div class="pull-right">
                    <a [routerLink]="['/records/sub-account-type', 0]"><button class="btn btn-sm btn-info">
                        <span class="icon-plus"></span> Add</button></a>
                </div>
            </div>
        </div>
        <div class="row">
            <data-grid [itemsSource]="satList" title="Sub Account Type">
                <column field="Code" header="Code" filterMatchMode="contains"></column>
                <column field="Name" header="Description" filterMatchMode="contains"></column>
                <column header="Type" [style]="{'text-align':'left'}">
                    <template let-col let-data="rowData" pTemplate type="body">
                        {{getSatEnum(data.SubAccountTypeEnum)}}
                    </template>
                </column>
                <column header="Is Check Allowed" [style]="{'text-align':'center'}">
                    <template let-col let-data="rowData" pTemplate type="checkbox">
                        <input type="checkbox" name="IsCheckAllowed" disabled [(ngModel)]="data.IsCheckAllowed">
                    </template>
                </column>
                <column header="Is Receipt Allowed" [style]="{'text-align':'center'}">
                    <template let-col let-data="rowData" pTemplate type="checkbox">
                        <input type="checkbox" name="IsReceiptAllowed" disabled [(ngModel)]="data.IsReceiptAllowed">
                    </template>
                </column>
                <column header="Is Wire Transfer Allowed" [style]="{'text-align':'center'}">
                    <template let-col let-data="rowData" pTemplate type="checkbox">
                        <input type="checkbox" name="IsWireTransferAllowed" disabled [(ngModel)]="data.IsWireTransferAllowed">
                    </template>
                </column>
                <column header="Actions" [style]="{'text-align':'center'}">
                    <template let-col let-data="rowData" pTemplate type="body">
                        <a [routerLink]="['/records/sub-account-type', data.Id]">
                            <button class="btn btn-sm btn-info">Edit</button>
                        </a>
                        <button class="btn btn-sm btn-danger" (click)="delete(data.Id)">Delete</button>
                    </template>
                </column>
            </data-grid>
    </div>