

<div class="container">
    <div class="row ">
        <div class="col-md-12">
            <h5 class="font-bold m-t-none m-b text-muted">Exchange Adjustment Accounting Config</h5>
        </div>
    </div>

    <div class="row">
        <form class="form" (ngSubmit)="onSubmit()">
    
            <fieldset>
                <div class="form-group row">
                    <label class="col-md-3">Fund:</label>
                    <div class="col-md-4">
                        <search-box #sbFund [enabled]="!AllFunds" [searchService]="fundLiteService" (OnSelectionChanged)="onFundSelectionChanged($event)">
                            <template let-item="item"> {{item.Code}} - <b>{{item.Name}}</b></template>
                        </search-box>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3">Year:</label>
                    <div class="col-md-4">    
                        <combo-box #cbLegalEntityAccountPeriods [searchService]="accountPeriodService" (OnSelectionChanged)="onAccountingPeriodSelected($event)" placeholder="year">
                            <template let-item="item"> {{item.Description}}</template>
                        </combo-box>
                    </div>
                </div>

                <div></div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"> Debit</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group row">
                                    <label class="control-label col-xs-3">Account:</label>
                                    <div class="col-xs-7">
                                        <search-box #sbAccount [enabled]="!AllAccounts" [searchService]="accountService" (OnSelectionChanged)="onAccountSelectionChanged($event)">
                                            <template let-item="item"> {{item.Code}} - <b>{{item.Name}}</b></template>
                                        </search-box>
                                    </div>
                                    <div class="col-md-2" [class.font-bold]="AllAccounts">All
                                        <label class="i-switch bg-info pull-right" style="text-align: left;">
                                            <input type="checkbox" [(ngModel)]="AllAccounts" tabindex="0" aria-checked="true" aria-invalid="false"> 
                                            <i></i>
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="control-label col-xs-3">Fund:</label>
                                    <div class="col-xs-7">
                                        <search-box #sbFund [enabled]="!AllFunds" [searchService]="fundLiteService" (OnSelectionChanged)="onFundSelectionChanged($event)">
                                            <template let-item="item"> {{item.Code}} - <b>{{item.Name}}</b></template>
                                        </search-box>
                                    </div>
                                    <div class="col-md-2 m-t-xs " [class.font-bold]="AllFunds">All
                                        <label class="i-switch bg-info pull-right" style="text-align: left;">
                                            <input type="checkbox" [(ngModel)]="AllFunds" tabindex="0" aria-checked="true" aria-invalid="false"><i></i>
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="control-label col-xs-3">Function:</label>
                                    <div class="col-xs-7">
                                        <search-box #sbFunc [enabled]="!AllFunctions" [searchService]="funcLiteService" (OnSelectionChanged)="onFuncSelectionChanged($event)">
                                            <template let-item="item"> {{item.Code}} - <b>{{item.Name}}</b></template>
                                        </search-box>
                                    </div>
                                    <div class="col-md-2" [class.font-bold]="AllFunctions">All
                                        <label class="i-switch bg-info pull-right" style="text-align: left;">
                                            <input type="checkbox" [(ngModel)]="AllFunctions" tabindex="0" aria-checked="true" aria-invalid="false"> <i></i>
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="control-label col-xs-3">Restriction:</label>
                                    <div class="col-xs-7">
                                        <search-box #sbRestriction [enabled]="!AllRestrictions" [searchService]="restrictionService" (OnSelectionChanged)="onRestrictionSelectionChanged($event)">
                                            <template let-item="item"> {{item.Code}} - <b>{{item.Name}}</b></template>
                                        </search-box>
                                    </div>
                                    <div class="col-md-2" [class.font-bold]="AllRestrictions">All
                                        <label class="i-switch bg-info pull-right" style="text-align: left;">
                                            <input type="checkbox" [(ngModel)]="AllRestrictions" tabindex="0" aria-checked="true" aria-invalid="false"> <i></i>
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"> Credit</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group row">
                                    <label class="control-label col-xs-3">Account:</label>
                                    <div class="col-xs-7">
                                        <search-box #sbAccount [enabled]="!AllAccounts" [searchService]="accountService" (OnSelectionChanged)="onAccountSelectionChanged($event)">
                                            <template let-item="item"> {{item.Code}} - <b>{{item.Name}}</b></template>
                                        </search-box>
                                    </div>
                                    <div class="col-md-2" [class.font-bold]="AllAccounts">All
                                        <label class="i-switch bg-info pull-right" style="text-align: left;">
                                            <input type="checkbox" [(ngModel)]="AllAccounts" tabindex="0" aria-checked="true" aria-invalid="false"> 
                                            <i></i>
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="control-label col-xs-3">Fund:</label>
                                    <div class="col-xs-7">
                                        <search-box #sbFund [enabled]="!AllFunds" [searchService]="fundLiteService" (OnSelectionChanged)="onFundSelectionChanged($event)">
                                            <template let-item="item"> {{item.Code}} - <b>{{item.Name}}</b></template>
                                        </search-box>
                                    </div>
                                    <div class="col-md-2 m-t-xs " [class.font-bold]="AllFunds">All
                                        <label class="i-switch bg-info pull-right" style="text-align: left;">
                                            <input type="checkbox" [(ngModel)]="AllFunds" tabindex="0" aria-checked="true" aria-invalid="false"><i></i>
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="control-label col-xs-3">Function:</label>
                                    <div class="col-xs-7">
                                        <search-box #sbFunc [enabled]="!AllFunctions" [searchService]="funcLiteService" (OnSelectionChanged)="onFuncSelectionChanged($event)">
                                            <template let-item="item"> {{item.Code}} - <b>{{item.Name}}</b></template>
                                        </search-box>
                                    </div>
                                    <div class="col-md-2" [class.font-bold]="AllFunctions">All
                                        <label class="i-switch bg-info pull-right" style="text-align: left;">
                                            <input type="checkbox" [(ngModel)]="AllFunctions" tabindex="0" aria-checked="true" aria-invalid="false"> <i></i>
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="control-label col-xs-3">Restriction:</label>
                                    <div class="col-xs-7">
                                        <search-box #sbRestriction [enabled]="!AllRestrictions" [searchService]="restrictionService" (OnSelectionChanged)="onRestrictionSelectionChanged($event)">
                                            <template let-item="item"> {{item.Code}} - <b>{{item.Name}}</b></template>
                                        </search-box>
                                    </div>
                                    <div class="col-md-2" [class.font-bold]="AllRestrictions">All
                                        <label class="i-switch bg-info pull-right" style="text-align: left;">
                                            <input type="checkbox" [(ngModel)]="AllRestrictions" tabindex="0" aria-checked="true" aria-invalid="false"> <i></i>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="form-group row">
                    <div class="col-md-3"></div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-primary" name="btnSave"> Save </button>
                        <a [routerLink]="['/search-journal-type-group']">
                            <button type="button" class="btn btn-danger" name="btnCancel" (click)="submitted=false"> Cancel </button>
                        </a> 
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>