
<div class="container">
    <div class="row ">
        <div class="col-md-12">
            <h5 class="font-bold m-t-none m-b text-muted">Exchange Adjustment Accounting Config</h5>
        </div>
    </div>

    <div class="pull-right">
        <a [routerLink]="['/exchange-adjustment-accounting-config', 0]">
            <button class="btn btn-sm btn-info"><span class="icon-plus"></span> Add</button>
        </a>
    </div>

    <div class="row">
        <table class="table table-hover">
            <thead class="thead">
                <td>Fund Source</td>
                <td>Year</td>
                <td>[ Account | Fund | Function | Restriction ] - Debit</td>
                <td>[ Account | Fund | Function | Restriction ] - Credit</td>
                <td>Action</td>
            </thead>
            <tbody>
                <tr *ngFor="let item of exchangeAdjustmentAccountingConfigs">
                    <td >{{item.FundSource.Code}} - {{item.FundSource.Name}}</td>
                    <td >{{item.LegalEntityAccountPeriod.Description}}</td>
                    <td >[ {{item.AccountDebit.Code}} | {{item.FundDebit.Code}} | {{item.FunctionDebit.Code}} | {{item.RestrictionDebit.Code}} ]</td>
                    <td >[ {{item.AccountCredit.Code}} | {{item.FundCredit.Code}} | {{item.FunctionCredit.Code}} | {{item.RestrictionCredit.Code}} ]</td>
                     <td>
                         <a [routerLink]="['/exchange-adjustment-accounting-config', item.Id]">
                            <button class="btn btn-sm btn-info">Edit</button>
                        </a>
                        <button class="btn btn-sm btn-danger" (click)="deleteExchangeAdjustmentAccountingConfig(item.Id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>