<div class="container">
    <h4>Denominational Entity</h4>
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="form-group row">
            <div class="col-md-12">
                 <div class="pull-right">
                    <a [routerLink]="['/records/denominational-entity', 0]"><button class="btn btn-sm btn-info">
                        <span class="icon-plus"></span> Add</button></a>
                </div>
            </div>        
        </div>
              
        <div class="table-responsive">
            <table id="example" class="table table-bordered table-striped table-hover" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>     
                <tr *ngFor= "let item of denominationalList">
                    <th>{{item.Code}}</th>
                    <th>{{item.Name}}</th>
                    <th><a [routerLink]="['/records/denominational-entity', item.Id]">
                            <button class="btn btn-sm btn-info">Edit</button></a>
                        <button class="btn btn-sm btn-danger" (click)="Delete(item.Id)">Delete</button>
                    </th>
                </tr>
            </tbody>
         </table>
        </div>
    </div>
</div>